/* ð™¼ðšŠðš’ðš— ð™²ðš‚ðš‚ ðš‚ðšðš¢ðš•ðšŽðšœðš‘ðšŽðšŽðš */

/* ============= */
/* =========== GENERAL =========== */
/* ============= */

html {
    font-size: 14px !important;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
    height: 100%;
    scroll-behavior: smooth;

    background: #FDBB16;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.outermost_wrapper {
    position: relative;
    width: 100%;
    overflow-x: hidden !important;
}

.title {
    font-size: 3.429rem;
    font-weight: 200;
    color: #ffffff;
}

a:hover {
    text-decoration: none !important;
}

a:focus, button:focus {
    outline: none !important;
    /*border: none !important;*/
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: transparent;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.001) inset, 0 0 1px rgba(255, 255, 255, 0.1);
    outline: 0 none;
}

input:disabled, input[disabled] {
    opacity: 0.5 !important;
}




/* ============= */
/* =========== NAVIGATION =========== */
/* ============= */

.bg-transparent {
    position: absolute;
    width: 100%;
    z-index: 10;
    padding-top: 18px;
    padding-bottom: 18px;
    background: transparent !important;
}

img.nav_logo_home {
    display: inline-block;
    width: 144px;
    height: 90px;
}

ul.ortrx_navbar {
    position: relative;
    top: 5px;
    z-index: 7;
}

a.apply_nav_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    font-size: 1.1rem;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 1px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
    transition: 0.4s all ease-in-out;
}

a.apply_nav_btn:hover {
    background: rgba(255, 255, 255, 1);
    border: 1px solid #FFFFFF;
    color: #1A191B;
}





/* ============= */
/* =========== HEADER =========== */
/* ============= */

.plumbsoc_header_area {
    position: relative;
    min-height: 850px;
    height: auto;
    width: 100%;
    background: #1A191B;
}

.h_banner_outermost {
    position: relative;
    margin-top: 240px;
    padding-left: 36px;
}

.h_banner_outermost h1 {
    font-size: 4.5rem;
    font-weight: 200;
    color: #ffffff;
    text-align: left;
    margin-bottom: 42px;
}

a.signup_cta_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 70px;
    font-size: 1.1rem;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 1px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
    transition: 0.4s all ease-in-out;
}

a.signup_cta_btn:hover {
    background: rgba(255, 255, 255, 1);
    border: 1px solid #FFFFFF;
    color: #1A191B;
}

.video_thumb_outermost {
    margin-top: 220px;
    padding-right: 52px;
}

img.plumbsoc_cta_vid_thumb {
    position: relative;
    height: 457px;
    width: 100%;
    border-radius: 22px;
    object-fit: contain;
}

.dotcube_deco_one {
    position: absolute;
    left: 88%;
    top: -50px;
    right: 0;
    bottom: 0;
    width: 115px;
    height: 116px;
    background: url("../img/dotcube.png") no-repeat;
    background-size: contain;
}





/* ============= */
/* =========== POWERFUL AREA =========== */
/* ============= */

.powerful_area {
    position: relative;
    padding-top: 85px;
    padding-bottom: 55px;
    min-height: 740px;
    height: auto;
    width: 100%;
    background: url('../img/section_bgd_1.png') center center no-repeat;
    background-size: cover;
}

.message_from_jered_subsection_outermost {
    padding-top: 55px;
}

.message_from_jered_holder {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.message_from_jered_holder h5 {
    font-size: 1.7rem;
    color: #ffffff;
    text-align: left;
    font-weight: 400;
    align-self: center;
}

.message_from_jered_holder h5 span {
    font-weight: 700;
}

img.jered_message {
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 24px;
}

.powerful_message_holder {
    padding-top: 50px;
}

.powerful_message_holder h2 {
    font-size: 3.7rem;
    font-weight: 200;
    color: #ffffff;
    text-align: left;
}

.detailed_powerful_message_outermost {
    padding-top: 150px;
    padding-left: 38px;
}

article.standard_body_text.leftaligned {
    text-align: left;
}

article.standard_body_text {
    position: relative;
    z-index: 5;
    padding-top: 48px;
    margin-bottom: 28px;
}

article.standard_body_text p {
    position: relative;
    z-index: 5;
    font-size: 1.286rem;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.7;
    margin-bottom: 18px;
}

article.standard_body_text p > span {
    color: #F06296;
    font-weight: 700;
}





/* ============= */
/* =========== IMPACT AREA =========== */
/* ============= */

.impact_area {
    position: relative;
    min-height: 1100px;
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    background: #1A191B;
}

.impact_content_outermost {
    padding-top: 55px;
}

.section_title_holder {
    width: 55%;
    margin:  0 auto;
}

.section_title_holder h2 {
    font-size: 3.4rem;
    font-weight: 200;
    text-align: center;
    color: #ffffff;
    margin-bottom: 16px;
}

.impact_details_holder {
    padding-top: 120px;
}

.impact_details_holder h5 {
    font-size: 1.7rem;
    color: #ffffff;
    text-align: left;
    font-weight: 600;
    align-self: center;
}

.impact_details_holder h5 span {
    color: #F06296;
}

.impact_image_holder {
    position: relative;
    padding-top: 100px;
    padding-left: 100px;
}

img.impact_area_deco_image {
    position: relative;
    z-index: 4;
    height: 542px;
    width: 100%;
    border-radius: 22px;
    object-fit: cover;
}

.striped_circle_deco {
    position: absolute;
    left: 32px;
    bottom: -42px;
    height: 118px;
    width: 118px;
    z-index: 1;
    background: url("../img/stripedcircle.png") no-repeat;
    background-size: contain;
}





/* ============= */
/* =========== EXPLODED AREA =========== */
/* ============= */

.exploded_area {
    position: relative;
    padding-top: 85px;
    padding-bottom: 55px;
    min-height: 830px;
    height: auto;
    width: 100%;
    background: url('../img/section_bgd_2.png') center center no-repeat;
    background-size: cover;
}

.exploded_content_outermost {
    padding-top: 55px;
}

hr.smooth_gapper {
    margin-top: 36px;
    margin-bottom: 55px;
}

.number_circle_holder {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.number_circle_holder h5 {
    position: absolute;
    bottom: -70px;
    font-size: 1.7rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}

.n_circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 224px;
    height: 224px;
    border-radius: 100%;
}

.n_circle.pink {background: rgba(240, 97, 151, 0.1); }
.n_circle.yellow {background: rgba(253, 187, 22, 0.1); }
.n_circle.purple {background: rgba(102, 101, 221, 0.1); }
.n_circle.green {background: rgba(93, 162, 113, 0.1); }

.c_number {
    text-align: center;
    font-size: 5.1rem;
    font-weight: 200;
}

.c_number.pink {color: #F06197;}
.c_number.yellow {color: #FDBB16;}
.c_number.purple {color: #6665DD;}
.c_number.green {color: #5DA271;}





/* ============= */
/* =========== WHY FOUNDED AREA =========== */
/* ============= */

.why_founded_area {
    position: relative;
    min-height: 745px;
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    background: #1A191B;
}

.why_founded_content_outermost {
    padding-top: 42px;
}

.why_founded_details_holder {
    position: relative;
    padding-top: 75px;
}

.dotcube_deco_two {
    position: absolute;
    left: -50px;
    top: 80px;
    bottom: 50px;
    width: 115px;
    height: 116px;
    background: url("../img/dotcube.png") no-repeat;
    background-size: contain;
    z-index: 1;
}

img.jered_founder {
    position: relative;
    height: 346px;
    width: 100%;
    object-fit: contain;
}

hr.smooth_gapper_2 {
    margin-top: 36px;
    margin-bottom: 20px;
}





/* ============= */
/* =========== STRATEGY AREA =========== */
/* ============= */

.strategy_area {
    position: relative;
    min-height: 1200px;
    height: auto;
    background: #1E1E21;
    padding-top: 75px;
    padding-bottom: 95px;
}

.strategy_area_content_outermost {
    position: relative;
    padding-top: 55px;
}

.strategy_box_holder {
    text-align: center;
    margin-bottom: 50px;
}

.strategy_box {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 300px;
    padding: 40px;

    background: linear-gradient(152.97deg, #151515 0%, #151515 100%);
    border-radius: 22px;
}

.icon_and_ttl_holder {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

img.strategy_icon {
    position: relative;
    height: 88px;
    width: 88px;
    margin-right: 20px;
}

.icon_and_ttl_holder h4 {
    font-size: 2.2rem;
    color: #ffffff;
    text-align: left;
    font-weight: 800;
    align-self: center;
}

.strategy_box p {
    position: absolute;
    bottom: 42px;
    left: 0;
    right: 0;
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
}





/* ============= */
/* =========== PRODUCTS AREA =========== */
/* ============= */

.products_area {
    position: relative;
    min-height: 1400px;
    height: auto;
    width: 100%;
    background: #1A191B;
    padding-top: 75px;
    padding-bottom: 75px;
}

.products_content_outermost {
    position: relative;
    padding-top: 38px;
}

.p_box {
    position: relative;
    width: 100%;
    height: 800px;
    padding: 0;
    z-index: 5;

    background: #1E1E21;
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.12);
    border-radius: 22px;
}

.box_uppermost {
    position: relative;
    top: 0;
    width: 100%;
    height: 145px;
    text-align: center;
    padding-top: 34px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.box_uppermost.product_one {
    background: url("../img/pbox_top_bgd_1.png") center center no-repeat;
    background-size: cover;
}

.box_uppermost.product_two {
    background: url("../img/pbox_top_bgd_2.png") center center no-repeat;
    background-size: cover;
}

.box_uppermost h4 {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    color: #ffffff;
}

.box_uppermost p {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}

hr.smooth_gapper_3 {
    margin-top: 42px;
    margin-bottom: 75px;
}

.p_box_inner_content {
    position: relative;
    padding: 40px;
    height: 590px;
}

ul.product_listing {
    padding-left: 0;
}

ul.product_listing li {
    position: relative;
    list-style-type: none;
    margin-bottom: 24px;
    font-weight: 400;
    color: #ffffff;
    font-size: 1.2rem;
}

span.p_check {
    position: relative;
    top: 5px;
    margin-right: 12px;
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../img/checked.svg") no-repeat;
    background-size: cover;
}

.schedule_call_btn_holder {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -20px;
}

a.schedule_call_btn.product_one {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
    height: 65px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #F06197;
    text-transform: uppercase;
    background: rgba(240, 97, 151, 0.05);
    border: 1px solid #F06197;
    border-radius: 1px;
    transition: 0.4s all ease-in-out;
}

a.schedule_call_btn.product_one:hover {
    background: rgba(240, 97, 151, 1);
    color: #ffffff;
}

a.schedule_call_btn.product_two {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
    height: 65px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #FDBB16;
    text-transform: uppercase;
    background: rgba(253, 187, 22, 0.05);
    border: 1px solid #FDBB16;
    border-radius: 1px;
    transition: 0.4s all ease-in-out;
}

a.schedule_call_btn.product_two:hover {
    background: rgba(253, 187, 22, 1);
    color: #ffffff;
}

.post_product_note_holder {
    padding-top: 55px;
}

.dotcube_deco_three {
    position: absolute;
    left: 88%;
    right: 0;
    bottom: 250px;
    width: 115px;
    height: 116px;
    background: url("../img/dotcube.png") no-repeat;
    background-size: contain;
    z-index: 0;
}





/* ============= */
/* =========== FOOTER =========== */
/* ============= */

.plumbsoc_footer {
    position: relative;
    min-height: 485px;
    width: 100%;
    padding-top: 65px;
    padding-bottom: 50px;
    background: url("../img/footer_bgd.png") center center no-repeat;
    background-size: cover;
}

.footer_logo_holder {
    padding-top: 28px;
    text-align: center;
    margin-bottom: 48px;
}

img.footer_logo {
    position: relative;
    height: 130px;
    width: 100%;
    text-align: center;
    object-fit: contain;
}

ul.footer_links {
    position: relative;
    margin-top: 18px;
    display: flex;
    justify-content: center;
    text-align: center;
}

ul.footer_links li {
    list-style-type: none;
    float: left;
    margin-right: 42px;
}

ul.footer_links li:last-child {
    margin-right: 0;
}

ul.footer_links li a {
    font-size: 1.1rem;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s all ease-in-out;
}

ul.footer_links li a:hover {
    color: #c2c2c2;
}

.footer_postnotes {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 38px;
    text-align: center;
}

.footer_postnotes small {
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}




/* _-_-_-_ */
/* ---------------- */
/* ==================== */
/* Sign Up (Inner Page) */
/* ==================== */
/* ---------------- */
/* _-_-_-_ */

.signup_inner_area {
    position: relative;
    min-height: 1000px;
    padding-bottom: 95px;
    height: auto;
    width: 100%;
    background: #1A191B;
}

img.nav_logo_inner {
    display: inline-block;
    width: 214px;
    height: 134px;
    margin-top: 24px;
}

.signup_inner_area_outermost {
    position: relative;
    padding-top: 250px;
}

.step_one_holder {
    padding-top: 75px;
}

.step_title_holder {
    margin-bottom: 22px;
}

.step_title_holder h2 {
    font-size: 3.7rem;
    font-weight: 200;
    text-align: center;
    color: #ffffff;
}

.main_cta_video_holder {
    position: relative;
    padding-top: 36px;
    margin-bottom: 75px;
}

.main_cta_video {
    position: relative;
    z-index: 5;
    border-radius: 22px;
}

.main_cta_button_holder {
    padding-top: 16px;
}

a.main_cta_btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 70px;
    font-size: 1.1rem;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 1px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
    transition: 0.4s all ease-in-out;
}

a.main_cta_btn:hover {
    background: rgba(255, 255, 255, 1);
    border: 1px solid #FFFFFF;
    color: #1A191B;
}

.dotcube_deco_inner_signup {
    position: absolute;
    left: 92%;
    top: -5px;
    right: 0;
    bottom: 0;
    width: 115px;
    height: 116px;
    background: url("../img/dotcube.png") no-repeat;
    background-size: contain;
    z-index: 0;
}





/* _-_-_-_ */
/* ---------------- */
/* ==================== */
/* Apply (Inner Page) */
/* ==================== */
/* ---------------- */
/* _-_-_-_ */

.apply_inner_area {
    position: relative;
    min-height: 1000px;
    padding-bottom: 95px;
    height: auto;
    width: 100%;
    background: #1A191B;
}

.apply_inner_area_outermost {
    padding-top: 250px;
    position: relative;
}

.application_form_outermost {
    position: relative;
    width: 60%;
    margin: 0 auto;
    padding-top: 42px;
}

.plumbsoc_application_form_holder {
    padding-top: 55px;
}

form.plumbsoc_application_form {
    position: relative;
    z-index: 5;
}

.plumbsoc_form_group {
    margin-bottom: 38px;
}

label.plumbsoc_label {
    font-size: 0.94rem;
    margin-bottom: 2px;
    color: #dedede;
    padding-left: 0;
}

label.plumbsoc_label > span {
    font-weight: 700;
    color: #F06197;
}

input.plumbsoc_input {
    height: 50px;
    padding-left: 18px;
    font-size: 1rem;
    font-weight: 400;
    color: #666666;
    background: #f6f6f6;
    border: none;
    border-radius: 1px;
}

input.plumbsoc_input:focus {
    background: #f6f6f6;
    box-shadow: none !important;
}

textarea.plumbsoc_txt {
    padding-left: 18px;
    padding-top: 18px;
    height: 240px;
    resize: none;
    font-size: 1rem;
    font-weight: 400;
    color: #666666;
    background: #f6f6f6;
    border: none;
    border-radius: 1px;
}

textarea.plumbsoc_txt:focus {
    background: #f6f6f6;
    box-shadow: none !important;
}

.apply_button_holder {
    padding-top: 22px;
}

button.apply_btn {
    display: inline-block;
    height: 60px;
    width: 225px;
    background: #F06197;
    color: #ffffff;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 1px;
    transition: 0.4s all ease-in-out;
}

button.apply_btn:hover {
    color: #f14e8c;
    background: #000000;
    box-shadow: 0 0 26px -16px #F06197;

}

.dotcube_deco_inner_apply {
    position: absolute;
    left: -5%;
    bottom: 125px;
    right: 0;
    width: 115px;
    height: 116px;
    background: url("../img/dotcube.png") no-repeat;
    background-size: contain;
    z-index: 0;
}






/* _-_-_-_ */
/* ---------------- */
/* ==================== */
/* Schedule (Inner Page) */
/* ==================== */
/* ---------------- */
/* _-_-_-_ */

.schedule_inner_area {
    position: relative;
    min-height: 1000px;
    padding-bottom: 95px;
    height: auto;
    width: 100%;
    background: #1A191B;
}

.schedule_inner_area_outermost {
    padding-top: 250px;
    position: relative;
}



